__pycache__/
*.py[cod]
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/

data/
outputs/
CKPT/
tensorboard_logs/
venv/
.venv/
.vscode/

*.csv
*.json
*.jsonl
*.pkl
*.joblib
*.npy
*.npz
*.pth
*.pt
*.ckpt
*.h5
*.nii
*.nii.gz
*.mp4
*.png
*.jpg
*.jpeg
